a {
    position: relative;
    display: flex;
    padding: 8px 10px;
    text-decoration: none;
    user-select: none;
    width: 140px;
}

div a.active {
    color: rgb(0, 82, 204);
    background: rgba(228, 228, 231, 0.856);
    border-radius: 3px;
    text-decoration: none;
}

a:visited {
    color: rgb(66, 82, 110);
    border-radius: 3px;
}
